@import "tailwindcss";

:root {
  --background: #F2F3F0;
  --foreground: #111111;
  --card: #FFFFFF;
  --border: #CBCCC9;
  --input: #CBCCC9;
  --primary: #FF8400;
  --primary-foreground: #111111;
  --secondary: #E7E8E5;
  --secondary-foreground: #111111;
  --destructive: #D93C15;
  --muted-foreground: #666666;
  --popover: #FFFFFF;
  --white: #FFFFFF;

  --color-success: #DFE6E1;
  --color-success-foreground: #004D1A;
  --color-warning: #E9E3D8;
  --color-warning-foreground: #804200;
  --color-error: #E5DCDA;
  --color-error-foreground: #8C1C00;
  --color-info: #DFDFE6;
  --color-info-foreground: #000066;

  --sidebar: #E7E8E5;
  --sidebar-border: #CBCCC9;
  --sidebar-foreground: #666666;
  --sidebar-accent: #CBCCC9;
  --sidebar-accent-foreground: #18181b;

  --radius-none: 0px;
  --radius-m: 16px;
  --radius-pill: 999px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  html, body {
    height: 100%;
  }

  .font-primary {
    font-family: var(--font-jetbrains-mono), "JetBrains Mono", monospace;
  }

  .font-secondary {
    font-family: var(--font-geist), "Geist", sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
